hello from show.html.erb |

<%= link_to "Edit this task", edit_task_path %>

<h2>Title : <%= @task.title %></h2>
<p>Details : <%= @task.details %></p>
<% if @task.completed == true %>
  Completed : <%= "This task is completed" %>
<% else %>
  <p>Completed : <%= "This task is not completed yet" %></p>
<% end %>

<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

| <br><br><%= link_to "Back to list", tasks_path %>
